@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,regular,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-email:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-twitter:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3f3f3f;
  line-height: 1;
  font-family: "Titillium+Web";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Titillium+Web";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 91.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.header {
  padding: 1.25rem 0rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo {
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 0.625rem;
  background-color: #009999;
  color: white;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.25rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  font-size: 1.125rem;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__item {
  position: relative;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.menu__item::before {
  content: "";
  position: absolute;
  bottom: -0.625rem;
  width: 100%;
  height: 0rem;
  background-color: #009999;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu__link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sub-menu {
  padding-top: 1.875rem;
  position: absolute;
  min-width: 15rem;
  -webkit-transform: translateY(1.875rem);
      -ms-transform: translateY(1.875rem);
          transform: translateY(1.875rem);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sub-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #009999;
  background-color: #f2f2f2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sub-menu__item {
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sub-menu__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0.625rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.9375rem 1.875rem;
  border: 1px solid #009999;
  color: #009999;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #009999), color-stop(50%, white));
  background: linear-gradient(to left, #009999 50%, white 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button--fw {
  width: 100%;
}

.page {
  font-family: "Titillium+Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.main {
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), color-stop(33%, rgba(255, 255, 255, 0)), color-stop(66%, rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 0) 66%, rgb(255, 255, 255) 100%);
  z-index: 2;
  pointer-events: none;
}

.main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), color-stop(33%, rgba(255, 255, 255, 0)), color-stop(66%, rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 0) 66%, rgb(255, 255, 255) 100%);
  z-index: 2;
  pointer-events: none;
}

.main__wrapper {
  max-height: 700px;
}

.main__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  max-height: 31.25rem;
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 0.625rem;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 5;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev::after {
  content: "";
  border-style: solid;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-width: 17px 0 17px 37px;
  border-color: transparent transparent transparent #009999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 5;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next::after {
  content: "";
  border-style: solid;
  border-width: 17px 0 17px 37px;
  border-color: transparent transparent transparent #009999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cards__content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.25rem;
  justify-items: center;
}

.card {
  width: 11.0625rem;
  height: 10.625rem;
  padding: 0.625rem 1.25rem;
  background-color: #0b6c6c;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.13);
  font-size: 1.875rem;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.card img {
  max-width: 3.5rem;
  max-height: 3.5rem;
}

.card a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.card h2 {
  color: white;
  line-height: 2.5rem;
}

.active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #009999;
  -webkit-transform: translateY(-1.25rem);
      -ms-transform: translateY(-1.25rem);
          transform: translateY(-1.25rem);
}

.unternehmen__container {
  max-width: 75em;
}

.unternehmen__title {
  color: #009999;
}

.unternehmen__text {
  margin-top: 1.875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  line-height: 1.4;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.unternehmen__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.unternehmen__button {
  font-size: 1.125rem;
}

.social {
  margin-top: 3.125rem;
}

.social__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__content span {
  font-size: 1.875rem;
}

._icon-email::before {
  color: #bbb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

._icon-facebook::before {
  color: #bbb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

._icon-twitter::before {
  color: #bbb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bauvorhaben {
  margin-top: 4.375rem;
  position: relative;
}

.bauvorhaben::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgba(60, 144, 186, 0.4980392157);
  pointer-events: none;
}

.no-webp .bauvorhaben__content{
  background: url("../img/Bauvorhaben/01.jpg") no-repeat; }

.bauvorhaben__content {
  background-position: 100% 30%;
  background-size: cover;
  z-index: 10;
}

.bauvorhaben__title {
  margin-bottom: 2.5rem;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 50;
}

.bauvorhaben__slider {
  max-height: 18.75rem;
  left: 12.5rem;
}

.bauvorhaben__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bauvorhaben-swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 0.625rem;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 5;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.bauvorhaben-swiper-button-prev::after {
  content: "";
  border-style: solid;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-width: 17px 0 17px 37px;
  border-color: transparent transparent transparent white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bauvorhaben-swiper-button-next {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 5;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.bauvorhaben-swiper-button-next::after {
  content: "";
  border-style: solid;
  border-width: 17px 0 17px 37px;
  border-color: transparent transparent transparent white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 91.875em) {
  .header__menu {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .unternehmen {
    margin-top: 4.6875rem;
  }

  .unternehmen__title {
    font-size: 1.875rem;
  }

  .unternehmen__text {
    margin-bottom: 3.125rem;
  }

  .unternehmen__text {
    font-size: 1.125rem;
  }

  ._icon-email::before {
    font-size: 3.75rem;
  }

  ._icon-facebook::before {
    font-size: 2.5rem;
  }

  ._icon-twitter::before {
    font-size: 2.5rem;
  }

  .bauvorhaben__content {
    padding-left: 6.25rem;
  }

  .bauvorhaben__content {
    padding-right: 6.25rem;
  }

  .bauvorhaben__content {
    padding-top: 3.125rem;
  }

  .bauvorhaben__content {
    padding-bottom: 3.125rem;
  }

  .bauvorhaben__title {
    font-size: 1.875rem;
  }

  .bauvorhaben__slide {
    height: 18.75rem;
  }

  .bauvorhaben__slide {
    min-width: 25rem;
  }
}

@media (max-width: 50em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header::after {
    content: "";
    position: fixed;
    z-index: 4;
    top: 0;
    left: -100%;
    width: 100%;
    height: 6.5625rem;
    background-color: #009999;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .menu-open .header::after {
    left: 0;
  }

  .menu__list {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
    padding: 8.125rem 1.25rem 4.375rem 1.25rem;
    row-gap: 0.625rem;
  }

  .menu-open .menu__list {
    left: 0;
  }

  .menu__list .sub-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    position: relative;
    padding-top: 0;
  }

  .menu__list .sub-menu__list {
    border: none;
    position: relative;
    padding: 1.875rem;
    font-size: 1.5rem;
  }

  .menu__list .sub-menu__link {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  }

  .menu__list .sub-menu__item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -0.625rem;
    top: 1.5625rem;
    border-style: solid;
    border-width: 7px 0 7px 17px;
    border-color: transparent transparent transparent #009999;
  }

  .menu__list .menu__link {
    display: inline-block;
    width: 100%;
    padding: 0.9375rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 50em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 50em) and (max-width: 29.99875em) {
  .header {
    padding: 0.625rem 0rem;
  }

  .header::after {
    height: 4.6875rem;
  }
}

@media (max-width: 20em) {
  .header__menu {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .menu__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .unternehmen {
    margin-top: 1.875rem;
  }

  .unternehmen__title {
    font-size: 1.375rem;
  }

  .unternehmen__text {
    margin-bottom: 1.875rem;
  }

  .unternehmen__text {
    font-size: 1rem;
  }

  ._icon-email::before {
    font-size: 3.125rem;
  }

  ._icon-facebook::before {
    font-size: 1.875rem;
  }

  ._icon-twitter::before {
    font-size: 1.875rem;
  }

  .bauvorhaben__content {
    padding-left: 1.875rem;
  }

  .bauvorhaben__content {
    padding-right: 1.875rem;
  }

  .bauvorhaben__content {
    padding-top: 1.875rem;
  }

  .bauvorhaben__content {
    padding-bottom: 1.875rem;
  }

  .bauvorhaben__title {
    font-size: 1.25rem;
  }

  .bauvorhaben__slide {
    height: 9.375rem;
  }

  .bauvorhaben__slide {
    min-width: 12.5rem;
  }
}

@media (max-width: 61.99875em) {
  .cards__content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    gap: 0.625rem;
  }

  .card {
    height: 6.25rem;
    width: 100%;
  }

  .card:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3/1/4/3;
    width: 100%;
  }

  .active {
    -webkit-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@media (max-width: 47.99875em) {
  .menu__logo {
    z-index: 20;
    font-size: 2.5rem;
  }

  .sub-menu {
    -webkit-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
            transform: translateY(0rem);
  }

  .card {
    height: 8.75rem;
    padding: 0.625rem;
  }

  .card h2 {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }
}

@media (any-hover: hover) and (max-width: 47.99875em) {
  .sub-menu__item:hover::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -0.625rem;
    top: 1.5625rem;
    border-style: solid;
    border-width: 8px 0 8px 18px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-color: transparent transparent transparent #009999;
  }
}

@media (max-width: 37.5em) {
  .unternehmen__text {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 29.99875em) {
  .swiper-button-prev::after {
    border-width: 13px 0 13px 27px;
  }

  .swiper-button-next::after {
    border-width: 13px 0 13px 27px;
  }

  .cards__content {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 3.125rem;
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .card:nth-child(5) {
    -ms-grid-row: 5;
    grid-area: 5;
    width: 100%;
  }

  .card img {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .card h2 {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -moz-text-align-last: left;
         text-align-last: left;
  }

  .bauvorhaben-swiper-button-prev {
    top: 60%;
  }

  .bauvorhaben-swiper-button-prev::after {
    border-width: 13px 0 13px 27px;
  }

  .bauvorhaben-swiper-button-next {
    top: 60%;
  }

  .bauvorhaben-swiper-button-next::after {
    border-width: 13px 0 13px 27px;
  }
}

@media (min-width: 20em) and (max-width: 91.875em) {
@supports ((-moz-column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem )) or (column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem ))) {
    .header__menu {
      -webkit-column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem );
         -moz-column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem );
              column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem )) or (column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem ))) {
    .header__menu {
      -webkit-column-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 71.875);
         -moz-column-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 71.875);
              column-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem )) or (column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem );
         -moz-column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem );
              column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem )) or (column-gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 71.875);
         -moz-column-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 71.875);
              column-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-top: clamp( 1.875rem , 1.0923913043rem  +  3.9130434783vw , 4.6875rem )) {
    .unternehmen {
      margin-top: clamp( 1.875rem , 1.0923913043rem  +  3.9130434783vw , 4.6875rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 1.0923913043rem  +  3.9130434783vw , 4.6875rem )) {
    .unternehmen {
      margin-top: calc(1.875rem + 2.8125 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2358695652rem  +  0.6956521739vw , 1.875rem )) {
    .unternehmen__title {
      font-size: clamp( 1.375rem , 1.2358695652rem  +  0.6956521739vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2358695652rem  +  0.6956521739vw , 1.875rem )) {
    .unternehmen__title {
      font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem )) {
    .unternehmen__text {
      margin-bottom: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem )) {
    .unternehmen__text {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1rem , 0.9652173913rem  +  0.1739130435vw , 1.125rem )) {
    .unternehmen__text {
      font-size: clamp( 1rem , 0.9652173913rem  +  0.1739130435vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9652173913rem  +  0.1739130435vw , 1.125rem )) {
    .unternehmen__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 3.125rem , 2.9510869565rem  +  0.8695652174vw , 3.75rem )) {
    ._icon-email::before {
      font-size: clamp( 3.125rem , 2.9510869565rem  +  0.8695652174vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.9510869565rem  +  0.8695652174vw , 3.75rem )) {
    ._icon-email::before {
      font-size: calc(3.125rem + 0.625 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
    ._icon-facebook::before {
      font-size: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
    ._icon-facebook::before {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
    ._icon-twitter::before {
      font-size: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
    ._icon-twitter::before {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-left: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem )) {
    .bauvorhaben__content {
      padding-left: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem )) {
    .bauvorhaben__content {
      padding-left: calc(1.875rem + 4.375 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-right: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem )) {
    .bauvorhaben__content {
      padding-right: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem )) {
    .bauvorhaben__content {
      padding-right: calc(1.875rem + 4.375 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem )) {
    .bauvorhaben__content {
      padding-top: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem )) {
    .bauvorhaben__content {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem )) {
    .bauvorhaben__content {
      padding-bottom: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem )) {
    .bauvorhaben__content {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0760869565rem  +  0.8695652174vw , 1.875rem )) {
    .bauvorhaben__title {
      font-size: clamp( 1.25rem , 1.0760869565rem  +  0.8695652174vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0760869565rem  +  0.8695652174vw , 1.875rem )) {
    .bauvorhaben__title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 71.875);
    }
}

@supports (height: clamp( 9.375rem , 6.7663043478rem  +  13.0434782609vw , 18.75rem )) {
    .bauvorhaben__slide {
      height: clamp( 9.375rem , 6.7663043478rem  +  13.0434782609vw , 18.75rem );
    }
}

@supports not (height: clamp( 9.375rem , 6.7663043478rem  +  13.0434782609vw , 18.75rem )) {
    .bauvorhaben__slide {
      height: calc(9.375rem + 9.375 * (100vw - 20rem) / 71.875);
    }
}

@supports (min-width: clamp( 12.5rem , 9.0217391304rem  +  17.3913043478vw , 25rem )) {
    .bauvorhaben__slide {
      min-width: clamp( 12.5rem , 9.0217391304rem  +  17.3913043478vw , 25rem );
    }
}

@supports not (min-width: clamp( 12.5rem , 9.0217391304rem  +  17.3913043478vw , 25rem )) {
    .bauvorhaben__slide {
      min-width: calc(12.5rem + 12.5 * (100vw - 20rem) / 71.875);
    }
}
}

@media (any-hover: hover) {
  .menu__item:hover > a {
    color: #009999;
  }

  .menu__item:hover::before {
    content: "";
    height: 0.3125rem;
  }

  .menu__item:hover .sub-menu {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0rem);
        -ms-transform: translate(0rem);
            transform: translate(0rem);
  }

  .sub-menu__item:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #009999;
    -webkit-transform: translate(15px);
        -ms-transform: translate(15px);
            transform: translate(15px);
  }

  .sub-menu__item:hover::after {
    content: "";
    height: 0.0625rem;
  }

  .sub-menu__item:hover::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -0.625rem;
    top: 0.9375rem;
    border-style: solid;
    border-width: 5px 0 5px 15px;
    border-color: transparent transparent transparent #009999;
  }

  .button:hover {
    background-position: right bottom;
    color: white;
  }

  .swiper-button-next:hover::after,
  .swiper-button-prev:hover::after {
    content: "";
    border-width: 17px 0 17px 57px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .card:hover {
    background-color: #009999;
  }

  ._icon-email:hover::before {
    color: #333;
  }

  ._icon-facebook:hover::before {
    color: rgb(63, 63, 208);
  }

  ._icon-twitter:hover::before {
    color: rgb(30, 159, 218);
  }
}

.webp .bauvorhaben__content{ background: url(../img/Bauvorhaben/01.webp) no-repeat; }